

.headcontainerR {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60px;
  padding: 10px;
}

.containerR {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    line-height: 40px; 
  }


  /* all my button CSS */
  #buttonTile {
    padding-top: 40px;
    padding-bottom: 10px
  }

  #buttonR {
    border-radius: 3px;
    font-family: Georgia;
    color: #424785;
    font-size: 14px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    float:right
  }

  #reviewForm {
    width: 500px;
    height: 5em;
  }

  #newReviewTitle {
    color: #424785;
    font-size: 18px;
    font-family: Georgia
  }

  #submitButton {
    margin: auto;
    width: 25%
  }

  #expandReviewsR {
    border-radius: 3px;
    font-family: Georgia;
    color: #424785;
    font-size: 14px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    float:right
  }
  
  #titleR {
      /* float: left; */
      font-size: 25px;
      font-weight: bold;
      color: black;
      padding-top: 40px;
      padding-bottom: 10px;
      padding-left: 0px;
  }

  #subtitleR {
    /* float: left; */
    font-size: 18px;
    font-weight: bold;
    color: black;
    /* padding-bottom: 10px; */
    padding-left: 0px;
}

/* review styling */

  .reviewPara{
    line-height: 20px;
    font-family: Georgia;

  }

  .reviewContainerR {
    display: grid;
    grid-template-columns: .6fr 2fr;
    padding: 10px;
    line-height: 40px; 
  }

  .userR {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    line-height: 20px; 
  }

  .reviewR {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    line-height: px; 
    padding-bottom: 30px
  }
  .titleR {
    line-height: 40px; 
    font-size: 22px;
    color: #B6B0B0;
  }

.linksR {
  color:#5A82C7;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none
}


/* styling for graphical elements */

.reviewSumR {
  display: grid;
  grid-template-columns: .75fr .10fr 1fr .10fr 1fr;
  line-height: 20px; 
  border: 1px solid black; 
  grid-template-rows: auto;
  display: grid;
  height: auto;
  grid-template-rows: auto;
}

.oneColR {
  border: 1px solid black; 
  margin-right: auto;
  margin: 1px
}

#numAvg {
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  color: #555;
  font-weight: 100;
  font-family: Courier New;
}

#reactStars {
  padding-left: 30%;
}

/* the five bars rendering the total amount votes per count */

#graphBarsR {
  line-height: 10px;
  padding: 15px
}

/* .pbarR {
  background-color: #ECEBEB !important
} */

.progress-bar {
  background-color: #B6B0B0!important;
  color: #B6B0B0 !important;
}

#totalR {
  width: 60%
}
#starFillR {
  width: 60%;
}

#threePieR {
  padding-top: 40px;
  padding-bottom: 10px;
  width: 100%
}



