

.headcontainerR {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60px;
  padding: 10px;
}

.containerR {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    line-height: 40px; 
  }


  /* all my button CSS */
  #buttonTile {
    padding-top: 40px;
    padding-bottom: 10px
  }

  #buttonR {
    border-radius: 3px;
    font-family: Georgia;
    color: #424785;
    font-size: 14px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    float:right
  }

  /* write review CSS */
    .recContainer {
    display: grid;
    grid-template-columns: .3fr .3fr .3fr;
    padding: 10px;
    line-height: 40px; 
  }


  .recCol {
    border: 1px solid black; 
  }


  /* write review CSS */

  .containerR {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px;
    padding: 10px;
  }
  
  #reviewForm {
    rows:5;
    cols:50;
    wrap:hard;
  }

  #newReviewTitle {
    color: #424785;
    font-size: 18px;
    font-family: Georgia
  }

  #submitButton {
    margin: auto;
    width: 25%
  }

  #expandReviewsR {
    border-radius: 3px;
    font-family: Georgia;
    color: #424785;
    font-size: 14px;
    background: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    float:right
  }
  
  #titleR {
      /* float: left; */
      font-size: 25px;
      font-weight: bold;
      color: black;
      padding-top: 40px;
      padding-bottom: 10px;
      padding-left: 0px;
  }

  #subtitleR {
    /* float: left; */
    font-size: 18px;
    font-weight: bold;
    color: black;
    /* padding-bottom: 10px; */
    padding-left: 0px;
}

/* review styling */

  .reviewPara{
    line-height: 20px;
    font-family: Georgia;

  }

  .reviewContainerR {
    display: grid;
    grid-template-columns: .6fr 2fr;
    padding: 10px;
    line-height: 40px; 
  }

  .userR {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    line-height: 20px; 
  }

  .reviewR {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    line-height: px; 
    padding-bottom: 30px
  }
  .titleR {
    line-height: 40px; 
    font-size: 22px;
    color: #B6B0B0;
  }

  .linksR {
    color:#5A82C7;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none
  }


/* styling for graphical elements */

.reviewSumR {
  display: grid;
  grid-template-columns: .35fr .02fr .015fr .35fr .015fr .10fr .15fr .10fr .15fr .10fr .15fr;
  max-width: 75%;
  line-height: 30px; 
  /* border: 1px solid black;  */
  grid-template-rows: 60px;
  display: grid;
  height: auto;
  grid-template-rows: auto;
}

.oneColR {
  /* border: 1px solid black;  */
  margin-right: auto;
  margin: 1px
}

/* Summary Rating Reviews Col 1 */

#mainSumReview {
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}
#reactStars {
  /* padding-left: 45px; */
  /* position: absolute; */
  text-align: center; 
  display: inline-block
}

#rankingCount {
  color: #767676;
  font-size: 12px;
  font-size: 12px;
  font-family: Helvetica
}

#numAvg {
  font-size: 64px;
  text-align: center;
  line-height: 100%;
  color: #555;
  font-weight: 100;
  font-family: Helvetica
}




/* CSS for Column of row names for 1-5 + stars */
.ratingRowName {
  font-size: 12px;
  color: #767676;
}

#colRatingRows {
  line-height: 26px;
  padding-top: 10px
}

/* the five bars rendering the total amount votes per count */

#graphBarsR {
  line-height: 10px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px
}


/* CSS row tally count {1:2,2:3,.....*/
.progress-bar {
  background-color: #B6B0B0!important;
  color: #B6B0B0 !important;
}

/* Circule Progress Bar Div Stuff */

.CircularProgressbar {
  width: 100% !important;
  /* padding-top: 8px !important; */
}

.CircularProgressbar-path {
  stroke: #E8952A !important
}

.CircularProgressbar-text {
  fill: #767676 !important
}

.piegraphText {
  padding-top: 10px !important;
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
  color: #767676 !important;
  word-wrap: break-word;
  line-height: 100%;
}







