
.headcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 60px;
  padding: 10px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    line-height: 40px; 
  }


  #button {
    -webkit-border-radius: 3;
    -moz-border-radius: 3;
    border-radius: 3px;
    font-family: Georgia;
    color: #424785;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: solid #f0f0f0 2px;
    text-decoration: none;
    float:right
  }

  
  #title {
      /* float: left; */
      font-size: 25px;
      font-weight: bold;
      color: #B6B0B0;
      padding-top: 40px;
      padding-bottom: 10px;
      padding-left: 0px;
      
  }

  .item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
  }


#total {
  width: 50%
}
#starFill {
  width: 50%;
  padding-left: 50px
}

#threePie {
  padding-top: 40px;
  padding-bottom: 10px;
  width: 80%
}

  .graphics {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
  }
  